/Arreglo.ejer.01/nbproject/private/
/Arreglo.ejer.01/build/
/ arreglo.ejer.02/nbproject/private/
/ arreglo.ejer.02/build/
/arreglo.ejer.03/nbproject/private/
/arreglo.ejer.03/build/
/arreglo.ejer.04/nbproject/private/
/arreglo.ejer.04/build/
/arreglo.ejer.05/nbproject/private/
/arreglo.ejer.05/build/